.vscode
.DS_Store
testPurpuse/
UOA/
ZPRO/HW/
.idea
CMakeLists.txt
.ninja*
build.ninja
cmake*
untitled.iml
.gitignore
build-*
*.pro.user

.vs
bin
obj

*.vcxproj.user
*.vcxproj.filter
PRC1/ZAPOCET
PRC1/ZAPOCET2
*.jpg
*.png
*.mp*
*.wav
*.jpeg
*.pdf
*.zip
*.webp
.venv
*.pages
*project*
*contents*
*IDE*
*/xcuserdata
*xcodeproject*
*xcodeproj
